@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Hind:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

$background-images: (
    1 : $first-image,
    2 : $second-image,
    3 : $third-image
);
@mixin card-image($background-images) {
    -webkit-card-image: ($background-images);
    -moz-card-image: ($background-images);
    -ms-card-image: ($background-images);
    background-image: ($background-images);
}
@each $i, $image in $background-images {
    .section-content:nth-child(#{$i}) .img-conteiner {
        @include card-image(#{$image});
    }    
}
%back-img-styles {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}
html,
body {
    margin: 0 auto;
    max-width: 980px;
    font-family: 'Source Sans Pro', sans-serif;
} 
.header__image {    
    @extend %back-img-styles;
    padding:40px 20px 280px 0px;
    background-position: top; 
    background-image: $header-background-image;   
    border-radius: 0 50% 50% 0;   
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
nav ul {    
    font-size: 14px;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
       width: auto;
       margin-left: 20px;
       list-style-type: none;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: $header-text-color;
        &:hover {
           color: $header-hover-color;
        }
    }
}
.header-conteiner {
    position: relative;
    top: 120px;
    text-align: center;
    color: $header-text-color;
    button {
        padding: 12px 25px;
        border: 1px solid gray;
        background: transparent;
        color: gray;
        font-size: 10px;
        &:hover {
            color: white;
            background-color: #0000005e;
        }
    }
    
}
.header-title {
    margin: 0 18%;
    h1 {
        font-size: 24px;
        color: #ddd;
        font-weight: lighter;
        padding: 1vw;
    }
}
.main-cards {
    margin: 0 15%;
}
section h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;        
}
main .section-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid rgba(225, 225, 225, 0.02);
    box-shadow: 0 0 10px gray;
    margin-bottom: 30px;
}
.content-conteiner  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $main-text-color;
    padding:0 20px;
    min-height: 180px;
    h2 {
        text-align: center;
        font-size: 1.4em;
        color: $header-hover-color;
        margin: 0;
        padding: 0;
    }
    p {
        margin: 0 0 20px 0;
        font-size: 12px;
    }
}
.img-conteiner {
    @extend %back-img-styles;
    height: 100%;
    min-height: 5vw;
    align-self: center;
}
.reviews {    
    background-color: $review-conteiner-color;
    display: grid;
    padding: 1vw;
    margin: 0 10vh 5vh 10vh;
}
.review-header  h2{
    color:$review-header-color;
    font-size: 2em;
    margin-bottom: 1vw;
}
.all-reviews-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1vw;
}
.review-conteiner {
    padding: 1vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: $reviews-background-color;
}
.review-img img {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}
.review-text {
    display: grid;
    align-content: center;
    padding: 0 2vh;
    color: white;
    font-size: 10px;  
    span {
        font-style: italic;
    }
}

.search {  
    display: block;
    margin: 0 auto; 
    width: 40vw;
    padding: 1vw;
    background-color: $search-background-color;
}
.search-title h2{
    text-align: center;
    font-size: 2em;
    color: $search-title-color;
}
.search-form {
display: grid;
grid-column-gap: .5vw;
grid-template-columns: 1fr 1fr 1fr 1fr;
font-size: 10px;
text-decoration: underline;
text-decoration-color: $search-item-color;
padding: 0 30px 0 60px;
}
.search-form .search-form__inputs, .where, .country, .back{
    display: flex;
    align-items: flex-end;
    color:$search-item-color;
}
.search-form__inputs input, .search-form__inputs select {
    padding: 0.5vh;
    border: 0;
    border-radius: 0;
    background-color: $search-background-color;
    border-bottom: 1px solid $search-item-color;
    width: 40px;
}

footer {
    display: grid;
    height: 100%;
    padding: 1vw 0 2vw;
    grid-template-columns: repeat(3, 1fr);
    background: $footer-background-color;
    margin-top: 2vh;
}

.social-network {
    padding-left: 2vw;
    img {
        width: 2vw;
        height: 2vw;
        padding-right: 1vw;
    }
    h3 {
        color: $footer-header-color;
        margin: 0 0 1vw 0;
    }
}

.social-network__copyright {
    color: $copyright-color;
    padding-top: 2vw;
}

.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tourism h3,
.contacts h3,
.send-email h3 {
    margin: 0 0 0.5vw;
}
.tourism h3,
.contacts h3 {
    color: $footer-header-color;
}
.tourism ul, 
.contacts ul, 
.send-email ul {
    margin: 0;
    padding: 0 0 0 1vw;
    width: 100%;
    li {
        list-style-type: none;
    }
    a {
        color: $footer-links-color;
        text-decoration: none;
        font-size: 1em;
        &:hover {
            color: $copyright-color;
        }
    }
}
.feedback_and_payments {
    display: grid;
}
.send-email {
    padding-right: 2vw;
    button {
        margin-top: 1vw;
        background: $copyright-color;
        padding: 0.5vw;
        width: 100%;
        border: 0;
        cursor: pointer;
        color: white;
        &:hover {
            background: $footer-header-color;
            color: white;
        }
    }
    input {
        width: 97%;
        border: 0;
        padding: 0.5vw;
        color: $footer-input-color;
    }
}
.payments h3 {
    color: $footer-header-color;
    margin: 1vw 0 0;
}
.payments__image img {
    width: 3vw;
    padding-right: 1vw;
}