$header-background-image: url("./../img/0.jpg");
$first-image: url("./../img/1.jpg");
$second-image: url("./../img/2.jpg");
$third-image: url("./../img/3.jpg");
$header-text-color:#c1d1df;
$header-hover-color:#8695a2;
$main-text-color: #395369;
$review-conteiner-color: #8d6f79;
$review-header-color: #cba2b0;
$reviews-background-color:#9d7a86;
$search-background-color:#8695a2;
$search-title-color: #c1d1df;
$search-item-color: #5e6872;
$footer-background-color: #3d5585;
$footer-header-color: #659afe;
$copyright-color: #0a275e;
$footer-links-color: #467ade;
$footer-input-color: #76769f;

