$header-background-image:url("./../img/4.jpg");
$first-image: url("./../img/5.jpeg");
$second-image: url("./../img/6.jpg");
$third-image: url("./../img/7.jpg");
$header-text-color: #69395e;
$header-hover-color:#9f86a2;
$main-text-color: #69395e;
$review-conteiner-color:#8a6f8d;
$review-header-color: #caa2cb;
$reviews-background-color:#9d7a86;
$search-background-color: #9f86a2;
$search-title-color: #dfc1d9;
$search-item-color: #725e68;
$footer-background-color: #5d3d85;
$footer-header-color: #9f73d5;
$copyright-color: #4f0a5e;
$footer-links-color: #8a46de;
$footer-input-color: #8a769f;
